html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

header #me{
    font-weight: bold;
}
header ul li a:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    display: flex;
}
header ul li{
    list-style-type: none;
    margin-right: 40px;
}
header ul{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: end;
}

.self-describe{
    display: flex;
    width: 600px;
    height: 400px;
    margin-left: 100px;
    align-items: center;
    background-color: #F8F6E3;
}

span{
    font-weight: bold;
}

.details{
display: flex;
flex-direction: column;
width: 300px;
align-items: start;
line-height: 0.25em;
margin-left: 40px;
}

.self-describe .my-pic img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 20px;
}

.heading{
    font-size: 2.5em;
    font-family: "Merriweather", serif;
    margin-top: 150px;
    color: gray;
}
.heading-background{
    font-size: 2.5em;
    font-family: "Merriweather", serif;
    margin-top: 150px;
    color: gray;   
}

.text-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text p{
        text-align: justify;
        font-size: 1.25em;
        text-indent: 20px;
        margin-left: 30px;
        margin-right: 30px;
        font-family: "Recursive", sans-serif;
        line-height: 1.5em;
}

.explanation p{
    text-align: justify;
    font-size: 1.25em;
    text-indent: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Recursive", sans-serif;
    line-height: 1,5em;
}

.education-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.contact-info p{
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5em;
}
.contact .contact-info p a{
    text-decoration: none;
    color: blue;
}
.contact .contact-info p a:visited{
    color: blue;
}


.contact 
.heading{
    margin-bottom: 10px;
}

footer section{
    width: 100%;
    height: 100px;
    margin-top: 80px;
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
}


@media screen and (max-width: 720px){
    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    header ul li a{
        font-size: 1em;
        font-weight: bold;
    }

    header ul li{
        margin-right: 10px;
    }
    header ul{
        width: 75%;
    }
    header #me{
        font-weight: bold;
    }
    .self-describe {
        margin-left: 20px;
        width: 350px;
        height: 250px;
        margin-top: 50px;
    }
    .self-describe .my-pic img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-left:10px;
    }
    .self-describe .details{
        width: 200px;
        line-height: 1.5em;
    }

    .heading-background{
        font-size: 2em;
        margin-top: 100px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .about-text p{
        font-size: 1em;
        text-indent: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .explanation p{
        font-size: 1em;
        text-indent: 10px;
        margin-left: 15px;
        margin-right: 15px; 
    }

    header ul li a:hover{
        background-color: gray;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-style: none;
    }

}

